.recipe-filters button {
  padding: .5rem;
  margin: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
  border-radius: 25px;
}

.recipe-filters button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.recipe-filters button.selected {
  background-color: #ccc;
}

.function-buttons {
  display: flex;
  float: right;
}

.function-buttons a {
  color: black;
  padding: .75rem;
  margin: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
  border-radius: 25px;
  text-decoration: none;
}

.function-buttons a:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.function-buttons a i {
  color: black;
  padding-right: 5px;
}

.function-buttons .create-button {
  background-color: rgb(71, 181, 0);
}

.function-buttons .create-button:hover {
  background-color: rgb(11, 121, 0);
}

.function-buttons .export-button {
  background-color: rgb(71, 181, 222);
}

.function-buttons .export-button:hover {
  background-color: rgb(11, 121, 162);
}

.function-buttons .clear-button {
  background-color: rgb(187, 166, 222);
}

.function-buttons .clear-button:hover {
  background-color: rgb(127, 106, 162);
}